<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="extension:lapiduch" defaultlocale="cs" viewmodes="minimized">
  <name short="Forrst notifier">Lapiduch Preview</name>
  <description>Přehled oblíbených klubů ve speed dialu Opery!</description>
  <author href="http://my.opera.com/BS-Harou/blog">BS-Harou (Martin Kadlec)</author>
  <icon src="icons/icon64.png"/>
  <feature name="opera:share-cookies" required="true" />
  <access origin="*" subdomains="true" />

  <preference name="interval" value="2" />

  <preference name="autologin" value="" />

  <feature name="opera:speeddial" required="true">
    <param name="url" value="http://www.lapiduch.cz/"/>
  </feature>
</widget>